* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #444444;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

::-webkit-scrollbar {
width: 10px;
}

/* ::-webkit-scrollbar-track {
} */

::-webkit-scrollbar-thumb {
background: #DE2E54;
border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
background: rgba(222, 46, 84, 0.8);
}